<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewHeader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAF4DD441C2527FB00CF8246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF4DD5D1C2527FB00CF8246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF4DD681C2527FB00CF8246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
